
#Main .title p {
  font-family: $font-primary;
  color: $gray;
  font-weight: 700;
  font-size: 30px;
  margin: 4rem 0.5rem 0 0.5rem;
  position: relative;
}
#Main span {
  color: $primary;
}
#Main .title p::after {
  content: '';
  position: absolute;
  width: 40%;
  bottom: 0.5rem;
  height: 1px;
  background-color: rgba($solid, .1);
}
@media (max-width: 991px) {
  #Main .title {
    font-size: 24px;
    padding-left: 0.5rem;
  }
  #Main .title p::after {
    width: 20%;
  }
  #Main .messageError, .Options {
    padding-left: 0.5rem;
  }
}
#Main .Options {
  margin: 0 0.5rem 4rem 0.5rem;
  display: flex;
  flex-direction: column;
}
#Main .Options select.categories {
  border: none;
  outline: none;
  width: 100px;
}
.Main_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  gap: 1rem;
  padding-bottom: 70px;
}
.Main_content .messageError {
  margin: 0 0.5rem 4rem 0.5rem;
}
@media (max-width: 991px) {
  .Main_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .Main_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  #Main .title p {
    font-size: 20px;
  }
  .Main_content {
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 0 1rem 70px 1rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $card;
  transition: all .2s ease-out;
  cursor: pointer;
  border-radius: 7px;
  overflow: hidden;
}
.card img {
  margin-bottom: 14px;
}
.card-body {
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.card-body p {
  color: $card-text;
  font-weight: normal;
  font-size: 12px;
  padding: 1rem 0.5rem;
  width: 90%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px groove rgba(255, 255, 255, 0.1);
  width: 100%;
}
.buttons a {
  color: $solid;
  padding: 0.5rem 0;
  font-size: 12px;
  width: inherit;
}
.buttons a:first-child {
  border-right: $border;
}
