// Header

#Header .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($background, 0.7);
  backdrop-filter: blur(7px);
  width: 100%;
  padding: .5rem;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    z-index: 2;

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 100;
      font-size: 14px;
      color: $gray;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);

      svg {
        width: 30px;
        height: 30px;
        margin: 4px;
        margin-right: 10px;
      }
    }

    img {
      margin: .3rem;
      width: 30px;
      height: 30px;
    }
  }
}
#Header .menu .Ev {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;

  a:hover {
    color: $solid;
  }
}
#Header .menu .Header_social {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  align-items: center;

  li {
    margin: 0 5px;
  }
  li:last-child {
    margin-right: 0;
  }
}
#Header .menu li:last-child {
  cursor: pointer;
}
@media (max-width: 768px) {
  #Header .menu .Header_social {
    position: absolute;
    flex-direction: column;
    top: 46px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: $background;
    backdrop-filter: blur(7px);
    transform-origin: 0 0;
    transform: translate(-100%,0);
    transition: transform .5s cubic-bezier(.77,.2,.05,1);

    li {
      margin: 0;
      border-bottom: $border;
      padding-bottom: 0.5rem;
      width: 90%;
      justify-content: flex-start;

      a {
        display: block;
        width: 100%;
      }
    }
    li:last-child {
      border-bottom: none;
    }
    .menu-link {
      margin-bottom: 0.5rem;
    }

  }
  #Header .menu .transform {
    transform: translate(0,0) !important;
  }
}
#Header .language {
  border: none;
  outline: none;
}
