.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999999;
}
.loading:after{
  top: 0;
}

.loading:before{
  bottom: 0;
}

.loading-end:after{
  top: -60%;
}

.loading-end:before{
  bottom: -60%;
}
.loading:after, .loading:before {
  content: '';
  background-color: $background;
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  transition: all 1.5s;
}
.load-circle {
  margin: 50vh auto;
  opacity: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #e8e8e8;
  border-top: 10px solid $primary;
  -webkit-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
  animation-fill-mode: forwards;
  transition: all 1s ease-out;
}
.opacity {
  transition: opacity 1s;
  opacity: 0;
}

@-webkit-keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}