// font
$font-primary: 'Poppins', sans-serif;
$font-secundary: 'Montserrat', sans-serif;

// colors global
$background: #161B22;
$card: #21262d;
$card-text: #6b7280;
$card-btn: #00ffff;
$scroll: #777777;
$primary: #00ffff;
$gray: #f5f5f7;
$solid: #fff;
$btn-w: 8em;
$dot-w: calc(var(--btn-w)*.3);
$tr-X: calc(var(--btn-w) - var(--dot-w));
$border: 1px solid rgba(255, 255, 255, 0.1);


// media query
$mobile: 375px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// BTN CONTACT
$btn-w: 8em;
$dot-w: calc($btn-w *.3);
