// font
$font-primary: 'Poppins', sans-serif;
$font-secundary: 'Montserrat', sans-serif;

// colors global
$background: #0d1117;
$card: #161b22;
$card-text: #8b97ac;
$scroll: #7d8597;
$primary: #58a6ff;
$btn-background-hover: #3b82f6;
$gray: #c9d1d9;
$solid: #f0f6fc;
$btn-w: 8em;
$border: 1px solid rgba(255, 255, 255, 0.12);


// media query
$mobile: 375px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// BTN CONTACT
$btn-w: 8em;
$dot-w: calc($btn-w *.3);
