#Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 4rem auto 8rem auto;
  text-align: center;
}
@media (min-width: 768px) {
  #Hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}
.Hero_content h1 {
  font-weight: 700;
  font-family: $font-primary;
}
.Hero_text {
  font-size: 18px;
  font-family: $font-secundary;
  font-weight: 700;
  padding: 1rem;
  color: $gray;
}
@media (min-width: 991px) {
  .Hero_text {
    font-size: 24px;
  }
}
.Hero_image {
  width: 100%;
}
@media (max-width: 991px) {
  .Hero_image {
    margin: 4rem 0;
  }
}
// BTN CONTACT
.btn {
  position: relative;
  margin: 0 auto;
  width: $btn-w;
  color: $background;
  background-color: $primary;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
  }
  @media (max-width: 991px) {
    .btn {
      margin-bottom: 2rem;
    }
  }
.btn:hover {
  background-color: $btn-background-hover;
}
